:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #4d5ae5;
  --secondary-accent-color: #404bbf;
  --primery-page-color: #434455;
  --secondary-page-color: #2e2f42;
  --primary-font-size: 16px;
  --secondary-font-size: 20px;
  --primary-line-height: 1.5;
  --primary-background-color: #ffffff;
}
/* скидання дефолтних стилів */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--primary-font);
  font-size: var(--primary-font-size);
  color: var(--primery-page-color);
  line-height: var(--primary-line-height);
  background-color: var(--primary-background-color);
}
/* компоненти */
.suptitle {
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-page-color);
}
.description-item {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: var(--primary-font-size);
  letter-spacing: 0.02em;
  color: var(--primery-page-color);
}
.description-item-theme-dark {
  color: #f4f4fd;
}
.logotype {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.logotypy-theme-dark {
  color: #f4f4fd;
}
.logotype-item {
  color: var(--secondary-page-color);
}
/* /кінець стилів для компонентів */
/* шапка */
.menu-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-page-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--secondary-accent-color);
  text-decoration-line: underline;
}
.address-list {
  font-style: normal;
}
.contact-link {
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--primery-page-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--secondary-accent-color);
}
/* /шапка */
/* основна секція */
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  /* color: #FFFFFF; */
}
.modal-btn {
  font-weight: 500;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--secondary-accent-color);
}
/* /Кінець основної секції */
/* Сторінка Портфоліо */
.portfolio-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background: var(--secondary-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
