:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #4d5ae5;
  --secondary-accent-color: #404bbf;
  --primery-page-color: #434455;
  --secondary-page-color: #2e2f42;
  --primary-font-size: 16px;
  --secondary-font-size: 20px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--primary-font);
  font-size: var(--primary-font-size);
  color: var(--primery-page-color);
}
/* шапка */
.logotype {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-page-color);
}
.logotype-item {
  color: var(--accent-color);
}
.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-page-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--secondary-accent-color);
  text-decoration-line: underline;
}
.contact-email {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-email:hover,
.contact-email:focus {
  color: var(--secondary-accent-color);
}
.contact-phone-number {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--secondary-accent-color);
}
/* /шапка */
/* основний вміст */
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  /* color: #FFFFFF; */
}
.modal-btn {
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--secondary-accent-color);
}
